{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true,
   },
   "rules": {
     "strict": ["error", "global"],
     "comma-dangle": [1, "always-multiline"],
     "no-underscore-dangle": [0],
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
     "no-unexpected-multiline": ["error"],
     "semi": ["error", "never"],
     "global-require": ["off"],
     "react/prefer-stateless-function": ["off"],
   },
}
